  <div id="easel" >
    <div id="grid-container">
      <!-- populate with pixel-rows of pixel-divs -->
      <div data-toggle="popover" ng-click="$ctrl.applyColor($event, $index)" id="{{$index}}" class="pixel-div" ng-repeat="pixel in $ctrl.pixelArray() track by $index"></div>
    </div>
    <div class="row">

      <div id="current-color"></div>
    </div>
    <div id="palette" ng-click="$ctrl.selectColor($event)">
      <div class="palette-row" id="pal-row">
        <div class="color-well" style="background-color: {{color}}" ng-repeat="color in $ctrl.colorPallette"></div>
      </div>

    </div>

  </div>