#messageHistory {
  overflow: scroll;
  height: 300px;
  margin: 20px 0 0 0;
  background-color: rgba(255, 255, 255, .2);
  padding: 10px;
}

#chat {
  position: relative;
  margin: auto;
  height: 300px;
}
#messageForm {
  width: 78.1%;
  float: right;
}
#chat_submit {
  float: right;
}
#message {
  width: 85%;
  float: left;
}
#updates {
  min-height: 20px;

}
.chat_container{

}
.online_users {
  width: 20%;
  margin: 0px 20px 0 0;
  float: left;
}