#messageHistory {
  overflow: scroll;
  height: 300px;
  width: 200px;
  background-color: rgba(255, 255, 255, .2);
  padding: 10px;
}

#chat {
  position: relative;
  margin: auto;
  height: 300px;
  width: 200px;

}

#updates {
  min-height: 20px;

}
.chat_container{
  float: right;
}
