/*body {
  background-image: url('/img/footer_lodyas.png');
}*/

.container {
  margin-top: 30px;
}

#messageHistory {
  overflow: auto;
  height: 300px;
  background-color: rgba(255, 255, 255, .2);
  padding: 10px;
}

#chat {
  position: relative;
  margin: auto;

}

/*#messageArea {
  display: none;
}*/

#updates {
  min-height: 20px;
}
