body {
    background-image: url('/img/footer_lodyas.png');
    font-family: 'Permanent Marker', cursive;
}

.border {
    border: 1px solid #000;
}

.app-container {
    height: 100vh;
}
@media screen and (min-width: 1366px) {
    #gallery-1 img {
        width: 375px;
    }
}


/*@media screen and (min-width: 1440px) {
#gallery-1 img {width:428px;}
}*/


/*@media screen and (min-width: 1600px) {
#gallery-1 img {width:434px;}
}*/


/*@media screen and (min-width: 1920px) {
#gallery-1 img {width:540px;}
}*/

.flex {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}

.sequence {
    /*border: 1px solid;
  display: block;*/
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 80%;
    background-color: #281E1E;
    align-items: center;
}

#logo {

  padding: 0;
  margin: 0;
  width: 20%;
}

.hero {
    color: white;
    font-size: 5em;
    display: inline;
}

.hero:hover {
    color: #5BA5E0;
    text-decoration: none;
}

.concept {
    position: fixed;
}

#about {
    font-style: italic;
    font-size: 16px;
    color: white;
    /*display: inline-block;*/
    font-size: 16px;
}

#login {
    position: fixed;
    float: center;
    background-color: transparent;
    border: 3px solid white;
    padding: 14px 50px;
    text-transform: none;
    text-align: center;
    text-decoration: none;
    color: white;
    display: inline-block;
    font-size: 16px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* hero */
#hero {
	background-image: url(../img/headphone.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	padding: 200px 0;
	color: #fff;
	position: relative;
  text-shadow: 0 3px 3px rgba(65, 65, 65, 1);
  text-stroke: #333;
}

#hero .container {
	position: relative;
}

#hero .overlay {
	background-color: #f8e71c;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	opacity: .3;
  -moz-box-shadow:    inset 0 0 50px #000;
  -webkit-box-shadow: inset 0 0 50px #000;
  box-shadow:         inset 0 0 50px #000;
}

#hero h3 {
	/*font-size: 42px;*/
	font-weight: 800;
	text-align: center;
	text-transform: uppercase;
}

#hero p {
	font-size: 18px;
	font-weight: 300;
	text-align: center;
	text-transform: uppercase;
	width: 80%;
	margin: 0 auto;
}

#hero .subscribe .form-control {
	/*background-color: #282828;*/
	color: #fff;
  width: 45%;
	margin: 25px auto;
	text-transform: uppercase;
	text-align: center;
}

#hero .btn-default-yellow {
	border-radius: 0;
	padding: 10px 12px;
	width: 45%;
	display: block;
	margin: 0 auto;
	border: 1px solid #282828;
}

#hero .container {
  margin-top: 0;
}

@media (max-width: 968px) {
	#hero h3 {
		font-size: 24px;
		font-weight: 800;
		line-height: 60px;
		text-align: center;
		text-transform: uppercase;
	}
