.border {
  border: 1px solid #000;
}

.app-container {
  height: 100vh;
}

.flex {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: stretch;
}

.flex-column {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: stretch;
}

.sequence{
  /*border: 1px solid;
  display: block;*/
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 80%;
  background-color: #281E1E;
  align-items: center;
}

.beat{
  border: 1px solid;
  background-color: #bbb;
  width: 5%;
  height: 0;
  padding-bottom: 3%;

}

.current {
  border: 1px solid;
  /*background: rgba(87, 164, 226, 0.5) !important;*/
  background: #57a4e2 !important;
  width: 5%;
  height: 0;
  padding-bottom: 3%;
}

.active {
  border: 1px solid;
  /*background: rgba(242, 255, 80, 0.5);*/
  background: #f2ff50;
  width: 5%;
  height: 0;
  padding-bottom: 3%;
}

#logo {
  position: fixed;
  float: center;

}

.concept{
  position: fixed;
}

#login{
  position: fixed;
  float: center;
  background-color: transparent;
    border: 2px solid white;
    padding: 15px 32px;
    text-transform: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
