.flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  flex-direction: column;
}

.stepper {
  height: 100vh;
  border: 1px solid #000;
}

.chat {
  border: 1px solid #000;
}
